<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script src="/js/uikit/js/uikit-core.min.js"></script>
	<script src="/js/uikit/js/uikit-icons.min.js"></script>
</head>

<body>
	<div class="uk-container juli">
		<div class="container uk-flex uk-flex-center uk-flex-middle">
			<div class="uk-grid">
				<div class="head uk-width-1-1 uk-flex uk-flex-center">
					<h1 class="uk-heading-divider">Alexander Linke</h1>
				</div>
				<div class="navi uk-width-1-1 uk-flex uk-flex-center">{% include nav.html %} {{ content }}</div>
			</div>
		</div>
		{% include imprint.html %}
	</div>
</body>

</html>